n8n/workflows/demo_chat_assistant.template.json
{
  "name": "{{HYDRATE:env:workflows.demo_chat_assistant.name}}{{HYDRATE:env:workflowNamePostfix}}",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "id": "{{HYDRATE:uuid:demo-chat-trigger-id}}",
      "name": "Chat Trigger",
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [200, 200]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "{{HYDRATE:uuid:demo-chat-webhook-path}}",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "{{HYDRATE:uuid:demo-chat-webhook-id}}",
      "name": "Webhook (manual run)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 400],
      "webhookId": "{{HYDRATE:uuid:demo-chat-webhook-uuid}}"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "chat-1", "name": "echo", "value": "={{ $json.chatInput ?? $json.body?.message ?? 'no-input' }}", "type": "string" }
          ]
        }
      },
      "id": "demo-chat-set",
      "name": "Echo Reply",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [420, 300]
    }
  ],
  "connections": {
    "Chat Trigger": {
      "main": [[{ "node": "Echo Reply", "type": "main", "index": 0 }]]
    },
    "Webhook (manual run)": {
      "main": [[{ "node": "Echo Reply", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
