n8n/workflows/demo_error_source.template.json
{
  "name": "{{HYDRATE:env:workflows.demo_error_source.name}}{{HYDRATE:env:workflowNamePostfix}}",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "{{HYDRATE:uuid:demo-error-source-webhook-path}}",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "{{HYDRATE:uuid:demo-error-source-webhook-id}}",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 300],
      "webhookId": "{{HYDRATE:uuid:demo-error-source-webhook-uuid}}"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "src-scope", "name": "scope", "value": "=demo-error-source-lock-{{ $execution.id }}", "type": "string" },
            { "id": "src-meta-key", "name": "meta_key", "value": "=demo-error-source-lockmeta-{{ $execution.id }}", "type": "string" }
          ]
        }
      },
      "id": "demo-error-source-derive",
      "name": "Derive Lock Key",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [400, 300]
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{HYDRATE:env:workflows.lock_acquisition.id}}",
          "mode": "id"
        },
        "workflowInputs": {
          "value": {
            "scope": "={{ $json.scope }}",
            "workflow_id": "={{ $workflow.id }}",
            "workflow_name": "={{ $workflow.name }}",
            "wait_till_lock_released": false,
            "execution_id": "={{ $execution.id }}"
          },
          "mappingMode": "defineBelow"
        },
        "options": {}
      },
      "id": "demo-error-source-acquire",
      "name": "Acquire Lock",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [600, 300]
    },
    {
      "parameters": {
        "operation": "set",
        "key": "={{ $('Derive Lock Key').item.json.meta_key }}",
        "value": "={{ $json.lock_id }}",
        "expire": true,
        "ttl": 60
      },
      "id": "demo-error-source-storemeta",
      "name": "Store Lock Meta",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [800, 300],
      "credentials": {
        "redis": {
          "id": "{{HYDRATE:env:credentials.redis.id}}",
          "name": "{{HYDRATE:env:credentials.redis.name}}"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Lock acquired (via lock_acquisition sub-workflow) and lock_id persisted to\n// Redis under a deterministic meta key. Now intentionally throw to demonstrate\n// what happens when a critical-section workflow fails between acquire and\n// release: the lock would leak forever WITHOUT the Error Trigger handler\n// pattern. settings.errorWorkflow (below) routes this failure to\n// demo_error_handler, which reads the meta key, recovers the lock_id, and\n// calls lock_release — so the lock never leaks.\nthrow new Error('Intentional failure to demonstrate lock-leak-on-error pattern');"
      },
      "id": "demo-error-source-throw",
      "name": "Throw",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1000, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Derive Lock Key", "type": "main", "index": 0 }]]
    },
    "Derive Lock Key": {
      "main": [[{ "node": "Acquire Lock", "type": "main", "index": 0 }]]
    },
    "Acquire Lock": {
      "main": [[{ "node": "Store Lock Meta", "type": "main", "index": 0 }]]
    },
    "Store Lock Meta": {
      "main": [[{ "node": "Throw", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "{{HYDRATE:env:workflows.demo_error_handler.id}}"
  }
}
