n8n/workflows/lock_releasing.template.json
{
  "name": "Release Lock",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "{{HYDRATE:uuid:release-lock-trigger-id}}",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "lock_id",
              "type": "string"
            },
            {
              "name": "scope",
              "type": "string"
            }
          ]
        }
      },
      "webhookId": "{{HYDRATE:uuid:release-lock-trigger-webhookId}}"
    },
    {
      "id": "get-lock-release-node",
      "name": "Get Lock",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [220, 0],
      "parameters": {
        "operation": "get",
        "key": "={{ $('Execute Workflow Trigger').item.json.scope }}"
      },
      "credentials": {
        "redis": {
          "id": "{{HYDRATE:env:credentials.redis.id}}",
          "name": "{{HYDRATE:env:credentials.redis.name}}"
        }
      }
    },
    {
      "id": "validate-ownership-node",
      "name": "Validate Ownership",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "parameters": {
        "jsCode": "// n8n's Redis Get returns the value under `propertyName` (cloud) or `data`\n// (legacy); accept either to be robust across versions.\nconst input = $input.first().json;\nconst lockValue = input.propertyName ?? input.data ?? '';\nconst providedLockId = $('Execute Workflow Trigger').first().json.lock_id;\n\nlet storedLockId;\ntry {\n  const parsed = JSON.parse(lockValue);\n  storedLockId = parsed.lock_id;\n} catch {\n  storedLockId = lockValue;\n}\n\nconst isOwner = storedLockId === providedLockId;\nreturn [{json: { is_owner: isOwner, stored_lock_id: storedLockId, provided_lock_id: providedLockId }}];"
      }
    },
    {
      "id": "if-owner-node",
      "name": "If Owner",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "owner-condition",
              "leftValue": "={{ $json.is_owner }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "delete-lock-node",
      "name": "Delete Lock",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [880, -60],
      "parameters": {
        "operation": "delete",
        "key": "={{ $('Execute Workflow Trigger').item.json.scope }}"
      },
      "credentials": {
        "redis": {
          "id": "{{HYDRATE:env:credentials.redis.id}}",
          "name": "{{HYDRATE:env:credentials.redis.name}}"
        }
      }
    },
    {
      "id": "stop-and-error-node",
      "name": "Stop And Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [880, 60],
      "parameters": {
        "errorMessage": "Lock ownership mismatch"
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Get Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lock": {
      "main": [
        [
          {
            "node": "Validate Ownership",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Ownership": {
      "main": [
        [
          {
            "node": "If Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Owner": {
      "main": [
        [
          {
            "node": "Delete Lock",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop And Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}