n8n/workflows/lock_acquisition.template.json
{
  "name": "Acquire Lock",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "{{HYDRATE:uuid:acquire-lock-trigger-id}}",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "scope",
              "type": "string"
            },
            {
              "name": "workflow_id",
              "type": "string"
            },
            {
              "name": "workflow_name",
              "type": "string"
            },
            {
              "name": "wait_till_lock_released",
              "type": "boolean"
            },
            {
              "name": "execution_id",
              "type": "string"
            }
          ]
        }
      },
      "webhookId": "{{HYDRATE:uuid:acquire-lock-trigger-webhookId}}"
    },
    {
      "id": "generate-lock-id-node",
      "name": "Generate Lock ID",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "jsCode": "// n8n cloud's Code node sandbox doesn't expose `crypto.randomUUID`.\n// Use a deterministic-but-unique-per-call UUID-like id built from\n// timestamp + Math.random() chunks.\nconst hex = (n) => Math.floor(Math.random() * 16 ** n).toString(16).padStart(n, '0');\nconst lockId = `${hex(8)}-${hex(4)}-4${hex(3)}-${hex(4)}-${Date.now().toString(16).padStart(12, '0').slice(-12)}`;\nreturn [{json: {...$input.first().json, lock_id: lockId}}];"
      }
    },
    {
      "id": "get-lock-node",
      "name": "Get Lock",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [440, 0],
      "parameters": {
        "operation": "get",
        "key": "={{ $('Execute Workflow Trigger').item.json.scope }}"
      },
      "credentials": {
        "redis": {
          "id": "{{HYDRATE:env:credentials.redis.id}}",
          "name": "{{HYDRATE:env:credentials.redis.name}}"
        }
      }
    },
    {
      "id": "if-lock-exists-node",
      "name": "If Lock Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [660, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "lock-exists-condition",
              "leftValue": "={{ $json.propertyName ?? $json.data ?? '' }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "isNotEmpty"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "if-should-wait-node",
      "name": "If Should Wait",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [880, -120],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "should-wait-condition",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.wait_till_lock_released }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "wait-before-retry-node",
      "name": "Wait Before Retry",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1100, -200],
      "parameters": {
        "amount": 5,
        "unit": "seconds"
      },
      "webhookId": "{{HYDRATE:uuid:wait-before-retry-webhookId}}"
    },
    {
      "id": "fail-lock-held-node",
      "name": "Fail Lock Held",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [1100, -40],
      "parameters": {
        "errorMessage": "Lock is held by another process"
      }
    },
    {
      "id": "set-lock-node",
      "name": "Set Lock",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [880, 120],
      "parameters": {
        "operation": "set",
        "key": "={{ $('Execute Workflow Trigger').item.json.scope }}",
        "value": "={{ JSON.stringify({ lock_id: $('Generate Lock ID').item.json.lock_id, workflow_id: $('Execute Workflow Trigger').item.json.workflow_id, workflow_name: $('Execute Workflow Trigger').item.json.workflow_name, execution_id: $('Execute Workflow Trigger').item.json.execution_id, locked_at: new Date().toISOString() }) }}"
      },
      "credentials": {
        "redis": {
          "id": "{{HYDRATE:env:credentials.redis.id}}",
          "name": "{{HYDRATE:env:credentials.redis.name}}"
        }
      }
    },
    {
      "id": "return-lock-id-node",
      "name": "Return Lock ID",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, 120],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "lock-id-assignment",
              "name": "lock_id",
              "value": "={{ $('Generate Lock ID').item.json.lock_id }}",
              "type": "string"
            },
            {
              "id": "scope-assignment",
              "name": "scope",
              "value": "={{ $('Execute Workflow Trigger').item.json.scope }}",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeBinary": false
        }
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Generate Lock ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Lock ID": {
      "main": [
        [
          {
            "node": "Get Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Lock": {
      "main": [
        [
          {
            "node": "If Lock Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Lock Exists": {
      "main": [
        [
          {
            "node": "If Should Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Set Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Should Wait": {
      "main": [
        [
          {
            "node": "Wait Before Retry",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fail Lock Held",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Before Retry": {
      "main": [
        [
          {
            "node": "Get Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Lock": {
      "main": [
        [
          {
            "node": "Return Lock ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}