n8n/workflows/periodic_excel_report.template.json
{
  "name": "Periodic Excel Report",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "{{HYDRATE:uuid:schedule-trigger-id}}",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "weekInterval": 1,
              "triggerAtDay": 1,
              "triggerAtHour": 8
            }
          ]
        }
      },
      "webhookId": "{{HYDRATE:uuid:schedule-trigger-webhookId}}"
    },
    {
      "id": "read-excel-node",
      "name": "Read Excel from SharePoint",
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "operation": "getRows",
        "workbook": {
          "__rl": true,
          "mode": "raw",
          "value": "={{HYDRATE:env:sharepoint.paths.reportFile}}"
        },
        "worksheet": {
          "__rl": true,
          "mode": "raw",
          "value": "Sheet1"
        },
        "options": {
          "driveId": "{{HYDRATE:env:sharepoint.driveId}}"
        }
      },
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "{{HYDRATE:env:credentials.msOauth.id}}",
          "name": "{{HYDRATE:env:credentials.msOauth.name}}"
        }
      }
    },
    {
      "id": "process-data-code-node",
      "name": "Process Excel Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 0],
      "parameters": {
        "jsCode": "{{HYDRATE:js:common/functions/process_excel_data.js}}\n\nreturn [{json: processExcelData($input.first().json.values)}];"
      }
    },
    {
      "id": "set-prompt-node",
      "name": "Set AI Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [660, 0],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "prompt-assignment",
              "name": "prompt",
              "value": "{{HYDRATE:txt:common/prompts/data_summary_prompt.txt}}",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeBinary": false
        }
      }
    },
    {
      "id": "set-schema-node",
      "name": "Set Response Schema",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [880, 0],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "schema-assignment",
              "name": "responseSchema",
              "value": "{{HYDRATE:json:common/prompts/data_summary_schema.json}}",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeBinary": false
        }
      }
    },
    {
      "id": "http-request-node",
      "name": "Call Cloud Function",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 0],
      "parameters": {
        "method": "GET",
        "url": "={{HYDRATE:env:cloudFunction.apiUrl}}/hello_world",
        "options": {},
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $json.summary }}"
            }
          ]
        }
      }
    },
    {
      "id": "send-email-node",
      "name": "Send Report Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1320, 0],
      "parameters": {
        "sendTo": "team@example.com",
        "subject": "Periodic Data Report",
        "emailType": "html",
        "message": "={{HYDRATE:html:common/templates/report_email.template.txt}}",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "{{HYDRATE:env:credentials.gmail.id}}",
          "name": "{{HYDRATE:env:credentials.gmail.name}}"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Read Excel from SharePoint",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Excel from SharePoint": {
      "main": [
        [
          {
            "node": "Process Excel Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Excel Data": {
      "main": [
        [
          {
            "node": "Set AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set AI Prompt": {
      "main": [
        [
          {
            "node": "Set Response Schema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Response Schema": {
      "main": [
        [
          {
            "node": "Call Cloud Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Cloud Function": {
      "main": [
        [
          {
            "node": "Send Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}