n8n/workflows/po_reconciliation_pipeline.template.json
{
  "name": "PO Reconciliation Pipeline",
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "nodes": [
    {
      "id": "{{HYDRATE:uuid:po-schedule-trigger-id}}",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 1
            }
          ]
        }
      },
      "webhookId": "{{HYDRATE:uuid:po-schedule-trigger-webhookId}}"
    },
    {
      "id": "acquire-lock-node",
      "name": "Acquire Lock",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [220, 0],
      "parameters": {
        "workflowId": "={{HYDRATE:env:workflows.lock_acquiring.id}}",
        "workflowInputs": {
          "values": [
            {
              "name": "scope",
              "value": "DATA_PROCESSING_LOCK"
            },
            {
              "name": "workflow_id",
              "value": "={{HYDRATE:env:workflows.po_reconciliation_pipeline.id}}"
            },
            {
              "name": "workflow_name",
              "value": "PO Reconciliation Pipeline"
            },
            {
              "name": "wait_till_lock_released",
              "value": "={{ true }}"
            },
            {
              "name": "execution_id",
              "value": "={{ $execution.id }}"
            }
          ]
        }
      }
    },
    {
      "id": "read-po-data-node",
      "name": "Read PO Data",
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2,
      "position": [440, 0],
      "parameters": {
        "operation": "getRows",
        "workbook": {
          "__rl": true,
          "mode": "raw",
          "value": "={{HYDRATE:env:sharepoint.paths.poDataFile}}"
        },
        "worksheet": {
          "__rl": true,
          "mode": "raw",
          "value": "Sheet1"
        },
        "options": {
          "driveId": "{{HYDRATE:env:sharepoint.driveId}}"
        }
      },
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "{{HYDRATE:env:credentials.msOauth.id}}",
          "name": "{{HYDRATE:env:credentials.msOauth.name}}"
        }
      }
    },
    {
      "id": "validate-data-node",
      "name": "Validate Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [660, 0],
      "parameters": {
        "method": "POST",
        "url": "={{HYDRATE:env:cloudFunction.apiUrl}}/validate_purchase_orders",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "records",
              "value": "={{ JSON.stringify($input.all().map(item => item.json)) }}"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "process-data-node",
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0],
      "parameters": {
        "jsCode": "{{HYDRATE:js:common/functions/prepare_reconciliation_data.js}}\n\nconst validatedData = $input.first().json;\nconst result = prepareReconciliationData(validatedData);\nreturn [{json: result}];"
      }
    },
    {
      "id": "set-ai-prompt-node",
      "name": "Set AI Prompt",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, 0],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "po-prompt-assignment",
              "name": "prompt",
              "value": "{{HYDRATE:txt:common/prompts/po_categorization_prompt.txt}}",
              "type": "string"
            },
            {
              "id": "po-schema-assignment",
              "name": "schema",
              "value": "{{HYDRATE:json:common/prompts/po_categorization_schema.json}}",
              "type": "string"
            }
          ]
        },
        "options": {
          "includeBinary": false
        }
      }
    },
    {
      "id": "ai-categorization-node",
      "name": "AI Categorization",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 0],
      "parameters": {
        "method": "POST",
        "url": "={{HYDRATE:env:cloudFunction.apiUrl}}/ai/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'openai/gpt-4o', messages: [{ role: 'system', content: $('Set AI Prompt').item.json.prompt }, { role: 'user', content: JSON.stringify($('Process Data').item.json.records_for_categorization) }], response_format: JSON.parse($('Set AI Prompt').item.json.schema) }) }}",
        "options": {}
      }
    },
    {
      "id": "update-tracker-node",
      "name": "Update Tracker",
      "type": "n8n-nodes-base.microsoftExcel",
      "typeVersion": 2,
      "position": [1540, 0],
      "parameters": {
        "operation": "append",
        "workbook": {
          "__rl": true,
          "mode": "raw",
          "value": "={{HYDRATE:env:sharepoint.paths.reconciliationTracker}}"
        },
        "worksheet": {
          "__rl": true,
          "mode": "raw",
          "value": "Sheet1"
        },
        "options": {
          "driveId": "{{HYDRATE:env:sharepoint.driveId}}"
        }
      },
      "credentials": {
        "microsoftExcelOAuth2Api": {
          "id": "{{HYDRATE:env:credentials.msOauth.id}}",
          "name": "{{HYDRATE:env:credentials.msOauth.name}}"
        }
      }
    },
    {
      "id": "release-lock-node",
      "name": "Release Lock",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [1760, 0],
      "parameters": {
        "workflowId": "={{HYDRATE:env:workflows.lock_releasing.id}}",
        "workflowInputs": {
          "values": [
            {
              "name": "lock_id",
              "value": "={{ $('Acquire Lock').item.json.lock_id }}"
            },
            {
              "name": "scope",
              "value": "DATA_PROCESSING_LOCK"
            }
          ]
        }
      }
    },
    {
      "id": "send-report-node",
      "name": "Send Report",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [1980, 0],
      "parameters": {
        "sendTo": "team@example.com",
        "subject": "PO Reconciliation Report - {{ $now.format('yyyy-MM-dd') }}",
        "emailType": "html",
        "message": "={{HYDRATE:html:common/templates/reconciliation_report_email.template.txt}}",
        "options": {}
      },
      "credentials": {
        "gmailOAuth2": {
          "id": "{{HYDRATE:env:credentials.gmail.id}}",
          "name": "{{HYDRATE:env:credentials.gmail.name}}"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Acquire Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acquire Lock": {
      "main": [
        [
          {
            "node": "Read PO Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PO Data": {
      "main": [
        [
          {
            "node": "Validate Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Data": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Set AI Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set AI Prompt": {
      "main": [
        [
          {
            "node": "AI Categorization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Categorization": {
      "main": [
        [
          {
            "node": "Update Tracker",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Tracker": {
      "main": [
        [
          {
            "node": "Release Lock",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Release Lock": {
      "main": [
        [
          {
            "node": "Send Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": "{{HYDRATE:env:workflows.error_handler_lock_cleanup.id}}"
  }
}