primitives/workflows/error_handler_lock_cleanup.template.json
{
  "name": "{{@:env:displayName}} Error Handler Lock Cleanup{{@:env:workflowNamePostfix}}",
  "nodes": [
    {
      "id": "{{@:uuid:err-trigger}}",
      "name": "Error Trigger",
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [240, 300],
      "parameters": {}
    },
    {
      "id": "{{@:uuid:err-prep-scopes}}",
      "name": "Prepare Scope List",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// @n8n-evol-I:primitive — exempt from pure-function discipline\n// Active cleanup: iterate every scope the env has registered, GET its :meta\n// sidecar, and DEL the pair only when the meta's execution_id matches the\n// failed execution.\n//\n// `lockScopes` is read from <env>.yml and is expected to be an array of scope\n// strings (the post-prefix portion — e.g. ['excel-sharepoint', 'cms-row']).\n// add_lock_to_workflow.py auto-registers static --scope-expression values\n// here; dynamic scopes are skipped and require manual lockScopes entries.\nlet LOCK_SCOPES;\ntry {\n  LOCK_SCOPES = {{@:env:lockScopes}};\n} catch (e) {\n  LOCK_SCOPES = [];\n}\nif (!Array.isArray(LOCK_SCOPES)) LOCK_SCOPES = [];\n\nconst errorData = $('Error Trigger').first().json || {};\nconst failed_execution_id = errorData.execution?.id || errorData.executionId || $execution.id || 'unknown';\nconst failed_workflow_id = errorData.workflow?.id || 'unknown';\nconst failed_workflow_name = errorData.workflow?.name || 'unknown';\nconst failed_error_message = errorData.execution?.error?.message || errorData.error?.message || 'unknown';\n\nif (LOCK_SCOPES.length === 0) {\n  // Graceful no-op: no scopes registered → nothing to clean. Avoids errors\n  // and surfaces the configuration gap to the operator via the log entry.\n  return [{\n    json: {\n      cleaned: false,\n      reason: 'no lockScopes registered in env yaml — add to lockScopes list to enable active cleanup',\n      failed_execution_id,\n      failed_workflow_id,\n      failed_workflow_name,\n      failed_error_message,\n      cleanup_terminal: true,\n    },\n  }];\n}\n\nreturn LOCK_SCOPES.map(scope => ({\n  json: {\n    scope,\n    key: `n8n-lock-${scope}`,\n    meta_key: `n8n-lock-${scope}:meta`,\n    failed_execution_id,\n    failed_workflow_id,\n    failed_workflow_name,\n    failed_error_message,\n    cleanup_terminal: false,\n  },\n}));\n"
      }
    },
    {
      "id": "{{@:uuid:err-if-empty}}",
      "name": "Has Scopes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [680, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "{{@:uuid:err-cond-empty}}",
              "leftValue": "={{ $json.cleanup_terminal !== true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "{{@:uuid:err-get-meta}}",
      "name": "GET Scope Meta",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [900, 240],
      "parameters": {
        "operation": "get",
        "propertyName": "LOCK_META",
        "key": "={{ $json.meta_key }}",
        "keyType": "string",
        "options": {}
      },
      "credentials": {
        "redis": {
          "id": "{{@:env:credentials.redis.id}}",
          "name": "{{@:env:credentials.redis.name}}"
        }
      }
    },
    {
      "id": "{{@:uuid:err-filter}}",
      "name": "Filter Owned Scopes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 240],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// @n8n-evol-I:primitive — exempt from pure-function discipline\n// For each scope, parse meta and keep only those owned by the failed execution.\n// Output is a list of {scope, key, meta_key} for cleanup; empty list is fine.\nconst items = $input.all();\nconst scopeItems = $('Prepare Scope List').all();\nconst toRelease = [];\nfor (let i = 0; i < items.length; i++) {\n  const lockValue = items[i].json.LOCK_META;\n  const scopeData = scopeItems[i] && scopeItems[i].json;\n  if (!scopeData || !lockValue) continue;\n  let parsedLock;\n  try {\n    parsedLock = JSON.parse(lockValue);\n  } catch (e) {\n    continue;\n  }\n  if (parsedLock && parsedLock.execution_id === scopeData.failed_execution_id) {\n    toRelease.push({\n      json: {\n        should_release: true,\n        scope: scopeData.scope,\n        key: scopeData.key,\n        meta_key: scopeData.meta_key,\n        lock_id: parsedLock.lock_id,\n        locked_at: parsedLock.locked_at,\n        lock_workflow_name: parsedLock.workflow_name,\n        failed_execution_id: scopeData.failed_execution_id,\n        failed_workflow_id: scopeData.failed_workflow_id,\n        failed_workflow_name: scopeData.failed_workflow_name,\n        failed_error_message: scopeData.failed_error_message,\n      },\n    });\n  }\n}\nif (toRelease.length === 0) {\n  return [{ json: { cleaned: false, reason: 'no locks owned by failed execution', cleanup_terminal: true } }];\n}\nreturn toRelease;\n"
      }
    },
    {
      "id": "{{@:uuid:err-if-found}}",
      "name": "Owned?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1340, 240],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "{{@:uuid:err-cond-found}}",
              "leftValue": "={{ $json.should_release === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "{{@:uuid:err-del-counter}}",
      "name": "DEL Owned Counter",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1560, 180],
      "parameters": {
        "operation": "delete",
        "key": "={{ $json.key }}"
      },
      "credentials": {
        "redis": {
          "id": "{{@:env:credentials.redis.id}}",
          "name": "{{@:env:credentials.redis.name}}"
        }
      }
    },
    {
      "id": "{{@:uuid:err-del-meta}}",
      "name": "DEL Owned Meta",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1780, 180],
      "parameters": {
        "operation": "delete",
        "key": "={{ $json.meta_key }}"
      },
      "credentials": {
        "redis": {
          "id": "{{@:env:credentials.redis.id}}",
          "name": "{{@:env:credentials.redis.name}}"
        }
      }
    },
    {
      "id": "{{@:uuid:err-log}}",
      "name": "Log Cleanup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 240],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// @n8n-evol-I:primitive — exempt from pure-function discipline\nconst items = $input.all();\nreturn [{\n  json: {\n    cleaned: items.length > 0 && items[0].json.should_release === true,\n    cleaned_count: items.filter(i => i.json.should_release === true).length,\n    scopes: items.map(i => i.json.scope).filter(Boolean),\n  },\n}];\n"
      }
    }
  ],
  "connections": {
    "Error Trigger": {
      "main": [[{ "node": "Prepare Scope List", "type": "main", "index": 0 }]]
    },
    "Prepare Scope List": {
      "main": [[{ "node": "Has Scopes?", "type": "main", "index": 0 }]]
    },
    "Has Scopes?": {
      "main": [
        [{ "node": "GET Scope Meta", "type": "main", "index": 0 }],
        [{ "node": "Log Cleanup", "type": "main", "index": 0 }]
      ]
    },
    "GET Scope Meta": {
      "main": [[{ "node": "Filter Owned Scopes", "type": "main", "index": 0 }]]
    },
    "Filter Owned Scopes": {
      "main": [[{ "node": "Owned?", "type": "main", "index": 0 }]]
    },
    "Owned?": {
      "main": [
        [{ "node": "DEL Owned Counter", "type": "main", "index": 0 }],
        [{ "node": "Log Cleanup", "type": "main", "index": 0 }]
      ]
    },
    "DEL Owned Counter": {
      "main": [[{ "node": "DEL Owned Meta", "type": "main", "index": 0 }]]
    },
    "DEL Owned Meta": {
      "main": [[{ "node": "Log Cleanup", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
