primitives/workflows/lock_acquisition.template.json
{
  "name": "{{HYDRATE:env:displayName}} Lock Acquisition{{HYDRATE:env:workflowNamePostfix}}",
  "nodes": [
    {
      "id": "{{HYDRATE:uuid:lock-acq-trigger}}",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-16, -56],
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "scope" },
            { "name": "workflow_id" },
            { "name": "workflow_name" },
            { "name": "wait_till_lock_released", "type": "boolean" },
            { "name": "execution_id" },
            { "name": "ttl_seconds", "type": "number" }
          ]
        }
      }
    },
    {
      "id": "{{HYDRATE:uuid:lock-acq-gen-id}}",
      "name": "generate_lock_id",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [208, -56],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// @n8n-harness:primitive — exempt from pure-function discipline\nconst crypto = require('crypto');\nreturn { json: { lock_id: crypto.randomUUID() } };\n"
      }
    },
    {
      "id": "{{HYDRATE:uuid:lock-acq-get}}",
      "name": "get_lock",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [432, -56],
      "parameters": {
        "operation": "get",
        "propertyName": "=SCOPE_LOCK",
        "key": "={{ $('Execute Workflow Trigger').item.json.scope || \"SCOPE_LOCK\" }}",
        "options": {}
      },
      "credentials": {
        "redis": {
          "id": "{{HYDRATE:env:credentials.redis.id}}",
          "name": "{{HYDRATE:env:credentials.redis.name}}"
        }
      }
    },
    {
      "id": "{{HYDRATE:uuid:lock-acq-parse}}",
      "name": "parse_and_check_lock",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [560, -56],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// @n8n-harness:primitive — exempt from pure-function discipline\n// Parse the GET result and decide whether the lock is currently held.\n// A lock is \"held\" iff: the key exists, the value parses as JSON, AND the lock has not expired (locked_at + ttl_seconds > now).\n// Stale locks (older than their stored ttl_seconds) are treated as released so a new caller can overwrite.\nconst raw = $json.SCOPE_LOCK;\nlet hasActiveLock = false;\nlet parsed = null;\nif (raw !== null && raw !== undefined && raw !== '') {\n  try {\n    parsed = JSON.parse(raw);\n  } catch (e) {\n    // Legacy non-JSON value — treat as held with unknown ttl (don't auto-expire)\n    parsed = { lock_id: String(raw), workflow_id: 'unknown', workflow_name: 'unknown (legacy)', execution_id: 'unknown', locked_at: null, ttl_seconds: null };\n  }\n  if (parsed && typeof parsed === 'object') {\n    const lockedAtMs = parsed.locked_at ? new Date(parsed.locked_at).getTime() : null;\n    const ttlSeconds = typeof parsed.ttl_seconds === 'number' ? parsed.ttl_seconds : null;\n    if (lockedAtMs && ttlSeconds) {\n      hasActiveLock = (Date.now() - lockedAtMs) <= (ttlSeconds * 1000);\n    } else {\n      // Legacy / no-TTL value — treat as held (conservative: don't auto-overwrite)\n      hasActiveLock = true;\n    }\n  }\n}\nreturn [{ json: { has_active_lock: hasActiveLock, parsed_lock: parsed, raw_value: raw } }];\n"
      }
    },
    {
      "id": "{{HYDRATE:uuid:lock-acq-if-held}}",
      "name": "If_lock_held",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [800, -128],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "{{HYDRATE:uuid:lock-acq-if-held-cond}}",
              "leftValue": "={{ $json.has_active_lock }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "{{HYDRATE:uuid:lock-acq-set}}",
      "name": "set_lock",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1024, -224],
      "parameters": {
        "operation": "set",
        "key": "={{ $('Execute Workflow Trigger').item.json.scope || \"SCOPE_LOCK\" }}",
        "value": "={{ JSON.stringify({ lock_id: $('generate_lock_id').item.json.lock_id, workflow_id: $('Execute Workflow Trigger').item.json.workflow_id || 'unknown', workflow_name: $('Execute Workflow Trigger').item.json.workflow_name || 'unknown', execution_id: $('Execute Workflow Trigger').item.json.execution_id || 'unknown', locked_at: new Date().toISOString(), ttl_seconds: typeof $('Execute Workflow Trigger').item.json.ttl_seconds === 'number' ? $('Execute Workflow Trigger').item.json.ttl_seconds : 86400 }) }}",
        "keyType": "string"
      },
      "credentials": {
        "redis": {
          "id": "{{HYDRATE:env:credentials.redis.id}}",
          "name": "{{HYDRATE:env:credentials.redis.name}}"
        }
      }
    },
    {
      "id": "{{HYDRATE:uuid:lock-acq-set-id}}",
      "name": "set_lock_id",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1248, -224],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "{{HYDRATE:uuid:lock-acq-set-id-assign}}",
              "name": "lock_id",
              "value": "={{ $('generate_lock_id').item.json.lock_id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "{{HYDRATE:uuid:lock-acq-if-wait}}",
      "name": "If_should_wait_or_fail",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1024, -8],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "{{HYDRATE:uuid:lock-acq-if-wait-cond}}",
              "leftValue": "={{ $('Execute Workflow Trigger').item.json.wait_till_lock_released !== false }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "{{HYDRATE:uuid:lock-acq-wait}}",
      "name": "wait_before_retry_lock_acquisition",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1248, -8],
      "parameters": {},
      "webhookId": "{{HYDRATE:uuid:lock-acq-wait-webhook}}"
    },
    {
      "id": "{{HYDRATE:uuid:lock-acq-fail}}",
      "name": "fail_lock_held",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [1248, 184],
      "parameters": {
        "errorMessage": "=Lock acquisition failed: scope '{{ $('Execute Workflow Trigger').item.json.scope }}' is already held by workflow '{{ $('parse_and_check_lock').item.json.parsed_lock ? $('parse_and_check_lock').item.json.parsed_lock.workflow_name : 'unknown' }}' (id: {{ $('parse_and_check_lock').item.json.parsed_lock ? $('parse_and_check_lock').item.json.parsed_lock.workflow_id : 'unknown' }}, execution: {{ $('parse_and_check_lock').item.json.parsed_lock ? $('parse_and_check_lock').item.json.parsed_lock.execution_id : 'unknown' }}, locked_at: {{ $('parse_and_check_lock').item.json.parsed_lock ? $('parse_and_check_lock').item.json.parsed_lock.locked_at : 'unknown' }})"
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "generate_lock_id", "type": "main", "index": 0 }]]
    },
    "generate_lock_id": {
      "main": [[{ "node": "get_lock", "type": "main", "index": 0 }]]
    },
    "get_lock": {
      "main": [[{ "node": "parse_and_check_lock", "type": "main", "index": 0 }]]
    },
    "parse_and_check_lock": {
      "main": [[{ "node": "If_lock_held", "type": "main", "index": 0 }]]
    },
    "If_lock_held": {
      "main": [
        [{ "node": "set_lock", "type": "main", "index": 0 }],
        [{ "node": "If_should_wait_or_fail", "type": "main", "index": 0 }]
      ]
    },
    "set_lock": {
      "main": [[{ "node": "set_lock_id", "type": "main", "index": 0 }]]
    },
    "If_should_wait_or_fail": {
      "main": [
        [{ "node": "wait_before_retry_lock_acquisition", "type": "main", "index": 0 }],
        [{ "node": "fail_lock_held", "type": "main", "index": 0 }]
      ]
    },
    "wait_before_retry_lock_acquisition": {
      "main": [[{ "node": "get_lock", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
