primitives/workflows/lock_release.template.json
{
  "name": "{{@:env:displayName}} Lock Release{{@:env:workflowNamePostfix}}",
  "nodes": [
    {
      "id": "{{@:uuid:lr-trigger}}",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-16, 0],
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "scope" }
          ]
        }
      }
    },
    {
      "id": "{{@:uuid:lr-prep}}",
      "name": "Build Lock Key",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [208, 0],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// @n8n-harness:primitive — exempt from pure-function discipline\nconst scope = $json.scope || 'default';\nconst key = `lock-${scope}`;\nreturn [{ json: { scope, key } }];\n"
      }
    },
    {
      "id": "{{@:uuid:lr-del}}",
      "name": "DEL Lock",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [432, 0],
      "parameters": {
        "operation": "delete",
        "key": "={{ $json.key }}"
      },
      "credentials": {
        "redis": {
          "id": "{{@:env:credentials.redis.id}}",
          "name": "{{@:env:credentials.redis.name}}"
        }
      }
    },
    {
      "id": "{{@:uuid:lr-result}}",
      "name": "Build Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [656, 0],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// @n8n-harness:primitive — exempt from pure-function discipline\nconst prev = $('Build Lock Key').first().json;\nreturn [{ json: { released: true, scope: prev.scope } }];\n"
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Build Lock Key", "type": "main", "index": 0 }]]
    },
    "Build Lock Key": {
      "main": [[{ "node": "DEL Lock", "type": "main", "index": 0 }]]
    },
    "DEL Lock": {
      "main": [[{ "node": "Build Result", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
