primitives/workflows/lock_acquisition.template.json
{
  "name": "{{HYDRATE:env:displayName}} Lock Acquisition{{HYDRATE:env:workflowNamePostfix}}",
  "nodes": [
    {
      "id": "{{HYDRATE:uuid:la-trigger}}",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-16, 0],
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "scope" },
            { "name": "ttl_seconds", "type": "number" },
            { "name": "execution_id" },
            { "name": "wait_till_lock_released", "type": "boolean" },
            { "name": "max_wait_seconds", "type": "number" }
          ]
        }
      }
    },
    {
      "id": "{{HYDRATE:uuid:la-context}}",
      "name": "Build Lock Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [208, 0],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// @n8n-harness:primitive — exempt from pure-function discipline\n// Build a stable context object referenced throughout the acquire flow (including the\n// wait-loop, where node('Build Lock Context').first().json gives us deadline_ms even\n// after multiple loop iterations).\nconst scope = $json.scope || 'default';\nconst ttl = typeof $json.ttl_seconds === 'number' ? $json.ttl_seconds : 60;\nconst executionId = $json.execution_id || $execution.id;\nconst waitTillReleased = $json.wait_till_lock_released !== false;  // default true\nconst maxWaitSeconds = typeof $json.max_wait_seconds === 'number' ? $json.max_wait_seconds : 86400;\nconst key = `lock-${scope}`;\nreturn [{\n  json: {\n    scope,\n    ttl,\n    executionId,\n    wait_till_lock_released: waitTillReleased,\n    max_wait_seconds: maxWaitSeconds,\n    key,\n    lock_id: executionId,\n    deadline_ms: Date.now() + (maxWaitSeconds * 1000),\n  },\n}];\n"
      }
    },
    {
      "id": "{{HYDRATE:uuid:la-incr}}",
      "name": "INCR Acquire Attempt",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [432, 0],
      "parameters": {
        "operation": "incr",
        "key": "={{ $('Build Lock Context').first().json.key }}",
        "expire": true,
        "ttl": "={{ $('Build Lock Context').first().json.ttl }}",
        "options": {}
      },
      "credentials": {
        "redis": {
          "id": "{{HYDRATE:env:credentials.redis.id}}",
          "name": "{{HYDRATE:env:credentials.redis.name}}"
        }
      }
    },
    {
      "id": "{{HYDRATE:uuid:la-evaluate}}",
      "name": "Evaluate Acquired",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [656, 0],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// @n8n-harness:primitive — exempt from pure-function discipline\n// Read the post-INCR count for our key and decide if this caller acquired the lock.\n// `count === 1` means our INCR was the one that created the key — we hold the lock.\n// Any other count means a concurrent caller got there first.\nconst ctx = $('Build Lock Context').first().json;\nconst incrOut = $json;\nconst count = typeof incrOut[ctx.key] === 'number' ? incrOut[ctx.key] : 0;\nconst acquired = count === 1;\nreturn [{ json: { acquired, count, scope: ctx.scope, lock_id: ctx.lock_id, key: ctx.key } }];\n"
      }
    },
    {
      "id": "{{HYDRATE:uuid:la-if-acquired}}",
      "name": "Acquired?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [880, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "{{HYDRATE:uuid:la-cond-acq}}",
              "leftValue": "={{ $json.acquired === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "{{HYDRATE:uuid:la-if-wait}}",
      "name": "Should Wait?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1104, 192],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "{{HYDRATE:uuid:la-cond-wait}}",
              "leftValue": "={{ $('Build Lock Context').first().json.wait_till_lock_released === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "{{HYDRATE:uuid:la-fail-fast}}",
      "name": "Fail Fast — Lock Held",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [1328, 320],
      "parameters": {
        "errorMessage": "=Lock acquisition failed (fail-fast): scope '{{ $('Build Lock Context').first().json.scope }}' is held (count={{ $json.count }}). Caller passed wait_till_lock_released=false."
      }
    },
    {
      "id": "{{HYDRATE:uuid:la-wait-poll}}",
      "name": "Wait Before Poll",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [1328, 64],
      "parameters": {
        "amount": 1,
        "unit": "seconds"
      },
      "webhookId": "{{HYDRATE:uuid:la-wait-poll-webhook}}"
    },
    {
      "id": "{{HYDRATE:uuid:la-get}}",
      "name": "GET Lock",
      "type": "n8n-nodes-base.redis",
      "typeVersion": 1,
      "position": [1552, 64],
      "parameters": {
        "operation": "get",
        "propertyName": "=LOCK_VALUE",
        "key": "={{ $('Build Lock Context').first().json.key }}",
        "keyType": "string",
        "options": {}
      },
      "credentials": {
        "redis": {
          "id": "{{HYDRATE:env:credentials.redis.id}}",
          "name": "{{HYDRATE:env:credentials.redis.name}}"
        }
      }
    },
    {
      "id": "{{HYDRATE:uuid:la-check-wait}}",
      "name": "Check Wait State",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1776, 64],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// @n8n-harness:primitive — exempt from pure-function discipline\n// Decide what to do next in the wait loop:\n//   - 'timeout'       → max_wait_seconds elapsed; give up.\n//   - 'retry-incr'    → key is gone (released or expired); attempt a fresh INCR.\n//   - 'keep-waiting'  → key still present; loop back to Wait Before Poll.\nconst ctx = $('Build Lock Context').first().json;\nconst lockValue = $json.LOCK_VALUE;\nconst now = Date.now();\nconst remainingMs = ctx.deadline_ms - now;\nlet state;\nif (remainingMs <= 0) {\n  state = 'timeout';\n} else if (lockValue === null || lockValue === undefined || lockValue === '') {\n  state = 'retry-incr';\n} else {\n  state = 'keep-waiting';\n}\nreturn [{ json: { state, remaining_ms: remainingMs, current_value: lockValue, key: ctx.key, scope: ctx.scope } }];\n"
      }
    },
    {
      "id": "{{HYDRATE:uuid:la-if-timeout}}",
      "name": "Timeout?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2000, 64],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "{{HYDRATE:uuid:la-cond-timeout}}",
              "leftValue": "={{ $json.state === 'timeout' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "{{HYDRATE:uuid:la-fail-timeout}}",
      "name": "Wait Timeout — Stop",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [2224, -64],
      "parameters": {
        "errorMessage": "=Lock acquisition timed out after {{ $('Build Lock Context').first().json.max_wait_seconds }}s waiting for scope '{{ $json.scope }}'."
      }
    },
    {
      "id": "{{HYDRATE:uuid:la-if-retry}}",
      "name": "Retry INCR?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2224, 192],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "{{HYDRATE:uuid:la-cond-retry}}",
              "leftValue": "={{ $json.state === 'retry-incr' }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Build Lock Context", "type": "main", "index": 0 }]]
    },
    "Build Lock Context": {
      "main": [[{ "node": "INCR Acquire Attempt", "type": "main", "index": 0 }]]
    },
    "INCR Acquire Attempt": {
      "main": [[{ "node": "Evaluate Acquired", "type": "main", "index": 0 }]]
    },
    "Evaluate Acquired": {
      "main": [[{ "node": "Acquired?", "type": "main", "index": 0 }]]
    },
    "Acquired?": {
      "main": [
        [],
        [{ "node": "Should Wait?", "type": "main", "index": 0 }]
      ]
    },
    "Should Wait?": {
      "main": [
        [{ "node": "Wait Before Poll", "type": "main", "index": 0 }],
        [{ "node": "Fail Fast — Lock Held", "type": "main", "index": 0 }]
      ]
    },
    "Wait Before Poll": {
      "main": [[{ "node": "GET Lock", "type": "main", "index": 0 }]]
    },
    "GET Lock": {
      "main": [[{ "node": "Check Wait State", "type": "main", "index": 0 }]]
    },
    "Check Wait State": {
      "main": [[{ "node": "Timeout?", "type": "main", "index": 0 }]]
    },
    "Timeout?": {
      "main": [
        [{ "node": "Wait Timeout — Stop", "type": "main", "index": 0 }],
        [{ "node": "Retry INCR?", "type": "main", "index": 0 }]
      ]
    },
    "Retry INCR?": {
      "main": [
        [{ "node": "INCR Acquire Attempt", "type": "main", "index": 0 }],
        [{ "node": "Wait Before Poll", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
