primitives/workflows/queue_pop.template.json
{
  "name": "{{@env:displayName}} Queue Pop{{@env:workflowNamePostfix}}",
  "nodes": [
    {
      "id": "{{@uuid:qpop-trigger}}",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [-16, 0],
      "parameters": {
        "workflowInputs": {
          "values": [
            { "name": "stream" },
            { "name": "group" },
            { "name": "consumer" },
            { "name": "max_concurrency", "type": "number" },
            { "name": "max_retries", "type": "number" },
            { "name": "dlq_enabled", "type": "boolean" },
            { "name": "batch_size", "type": "number" },
            { "name": "claim_idle_ms", "type": "number" },
            { "name": "caller_execution_id" }
          ]
        }
      }
    },
    {
      "id": "{{@uuid:qpop-context}}",
      "name": "Build Pop Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [208, 0],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// @n8n-evol-I:primitive — exempt from pure-function discipline\n// Centralise stream/group/consumer naming and key shapes. All downstream\n// HTTP nodes read $('Build Pop Context').first().json — stable across the\n// branching graph.\n//\n// callerExecutionId: prefer the caller-supplied id over $execution.id. Inside\n// queue_pop (which runs as an executeWorkflow sub-workflow), $execution.id is\n// the SUB-workflow's id, NOT the parent consumer's. The permit sidecar must\n// record the parent's id so error_handler_queue_cleanup's ownership filter\n// can match (errorTrigger fires with the parent's failed-execution id).\n// Producers/consumers wired via add_queue_*_to_workflow.py pass this through\n// as `caller_execution_id`. Standalone callers can omit it and accept the\n// $execution.id fallback (cleanup will not match in that case).\nconst stream = $json.stream;\nif (!stream) throw new Error(\"queue_pop: 'stream' required\");\nconst group = $json.group || `${stream}-cg`;\nconst consumer = $json.consumer || `${stream}-c-${$execution.id}`;\nconst maxConcurrency = typeof $json.max_concurrency === 'number' ? $json.max_concurrency : 1;\nconst maxRetries = typeof $json.max_retries === 'number' ? $json.max_retries : 3;\nconst dlqEnabled = $json.dlq_enabled === true;\nconst batchSize = typeof $json.batch_size === 'number' ? $json.batch_size : 1;\nconst claimIdleMs = typeof $json.claim_idle_ms === 'number' ? $json.claim_idle_ms : 60000;\nconst callerExecutionId = (typeof $json.caller_execution_id === 'string' && $json.caller_execution_id.length > 0)\n  ? $json.caller_execution_id\n  : String($execution.id);\nconst inflightKey = `q:${stream}:inflight`;\nconst dlqStream = `${stream}-dlq`;\nreturn [{\n  json: {\n    stream, group, consumer, maxConcurrency, maxRetries, dlqEnabled,\n    batchSize, claimIdleMs, inflightKey, dlqStream,\n    callerExecutionId,\n    executionId: $execution.id,\n    workflowId: $workflow.id,\n    workflowName: $workflow.name,\n  },\n}];\n"
      }
    },
    {
      "id": "{{@uuid:qpop-xgroup}}",
      "name": "XGROUP CREATE (idempotent)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [432, 0],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.UPSTASH_REDIS_REST_URL }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(['XGROUP', 'CREATE', $('Build Pop Context').first().json.stream, $('Build Pop Context').first().json.group, '0', 'MKSTREAM']) }}",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{@env:credentials.redis_rest.id}}",
          "name": "{{@env:credentials.redis_rest.name}}"
        }
      }
    },
    {
      "id": "{{@uuid:qpop-xautoclaim}}",
      "name": "XAUTOCLAIM Stale",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [656, 0],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.UPSTASH_REDIS_REST_URL }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(['XAUTOCLAIM', $('Build Pop Context').first().json.stream, $('Build Pop Context').first().json.group, $('Build Pop Context').first().json.consumer, String($('Build Pop Context').first().json.claimIdleMs), '0', 'COUNT', String($('Build Pop Context').first().json.batchSize)]) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{@env:credentials.redis_rest.id}}",
          "name": "{{@env:credentials.redis_rest.name}}"
        }
      }
    },
    {
      "id": "{{@uuid:qpop-parse-claim}}",
      "name": "Parse Claim Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 0],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// @n8n-evol-I:primitive — exempt from pure-function discipline\n// XAUTOCLAIM returns: [next_cursor, [[id, [field, val, ...]], ...], deleted_ids]\n// Upstash REST returns it under $json.result. If the messages array is empty,\n// no PEL'd messages were stale enough to claim — we'll fall through to\n// XREADGROUP for fresh delivery.\nconst resp = $json;\nconst raw = resp ? resp.result : null;\nlet has_claimed = false;\nlet message_id = null;\nlet fields_arr = null;\nif (Array.isArray(raw) && Array.isArray(raw[1]) && raw[1].length > 0) {\n  const first = raw[1][0];\n  if (Array.isArray(first) && first.length >= 2) {\n    has_claimed = true;\n    message_id = first[0];\n    fields_arr = first[1];\n  }\n}\nreturn [{ json: { has_claimed, message_id, fields_arr, claimed: has_claimed } }];\n"
      }
    },
    {
      "id": "{{@uuid:qpop-if-claimed}}",
      "name": "Has Claimed?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1104, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "{{@uuid:qpop-cond-claimed}}",
              "leftValue": "={{ $json.has_claimed === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "{{@uuid:qpop-xreadgroup}}",
      "name": "XREADGROUP Fresh",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1328, 200],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.UPSTASH_REDIS_REST_URL }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(['XREADGROUP', 'GROUP', $('Build Pop Context').first().json.group, $('Build Pop Context').first().json.consumer, 'COUNT', String($('Build Pop Context').first().json.batchSize), 'STREAMS', $('Build Pop Context').first().json.stream, '>']) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{@env:credentials.redis_rest.id}}",
          "name": "{{@env:credentials.redis_rest.name}}"
        }
      }
    },
    {
      "id": "{{@uuid:qpop-parse-read}}",
      "name": "Parse Read Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1552, 200],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// @n8n-evol-I:primitive — exempt from pure-function discipline\n// XREADGROUP returns null on empty (no messages) or [[stream, [[id,\n// [field, val, ...]], ...]]] on hit. Upstash REST nests under .result.\nconst resp = $json;\nconst raw = resp ? resp.result : null;\nlet has_message = false;\nlet message_id = null;\nlet fields_arr = null;\nif (Array.isArray(raw) && raw.length > 0 && Array.isArray(raw[0]) && Array.isArray(raw[0][1]) && raw[0][1].length > 0) {\n  const first = raw[0][1][0];\n  if (Array.isArray(first) && first.length >= 2) {\n    has_message = true;\n    message_id = first[0];\n    fields_arr = first[1];\n  }\n}\nreturn [{ json: { has_claimed: has_message, message_id, fields_arr, claimed: false } }];\n"
      }
    },
    {
      "id": "{{@uuid:qpop-merge}}",
      "name": "Merge Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1776, 0],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// @n8n-evol-I:primitive — exempt from pure-function discipline\n// Unify both branches: $json carries either Parse Claim Result or Parse Read\n// Result depending on which path fed us. Decode the flat [k,v,k,v,...] fields\n// array into a payload object + enqueued_at. delivery_count is intentionally\n// not set here — it is filled in by the downstream 'XPENDING Lookup' +\n// 'Check DLQ Threshold' pair, which reads the authoritative count from Redis\n// (XPENDING ... IDLE 0 <id> <id> 1 returns [id, consumer, idle, dc]).\nconst src = $json;\nconst has_message = src && (src.has_claimed === true || src.has_message === true);\nif (!has_message) {\n  return [{ json: { has_message: false, claimed: false } }];\n}\nconst fields = Array.isArray(src.fields_arr) ? src.fields_arr : [];\nlet payload = null;\nlet enqueued_at = null;\nfor (let i = 0; i + 1 < fields.length; i += 2) {\n  const k = fields[i];\n  const v = fields[i + 1];\n  if (k === 'payload') {\n    try { payload = JSON.parse(v); } catch (e) { payload = v; }\n  } else if (k === 'enqueued_at') {\n    enqueued_at = v;\n  }\n}\nconst claimed = src.claimed === true;\nreturn [{ json: {\n  has_message: true,\n  message_id: src.message_id,\n  payload,\n  enqueued_at,\n  claimed,\n}}];\n"
      }
    },
    {
      "id": "{{@uuid:qpop-if-message}}",
      "name": "Has Message?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2000, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "{{@uuid:qpop-cond-message}}",
              "leftValue": "={{ $json.has_message === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "{{@uuid:qpop-empty}}",
      "name": "Empty Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2224, 200],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// @n8n-evol-I:primitive — exempt from pure-function discipline\nconst ctx = $('Build Pop Context').first().json;\nreturn [{ json: { empty: true, at_capacity: false, dlq_routed: false, stream: ctx.stream, group: ctx.group } }];\n"
      }
    },
    {
      "id": "{{@uuid:qpop-xpending}}",
      "name": "XPENDING Lookup",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2112, 0],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.UPSTASH_REDIS_REST_URL }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(['XPENDING', $('Build Pop Context').first().json.stream, $('Build Pop Context').first().json.group, 'IDLE', '0', $('Merge Message').first().json.message_id, $('Merge Message').first().json.message_id, '1']) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{@env:credentials.redis_rest.id}}",
          "name": "{{@env:credentials.redis_rest.name}}"
        }
      }
    },
    {
      "id": "{{@uuid:qpop-check-dlq}}",
      "name": "Check DLQ Threshold",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2336, 0],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// @n8n-evol-I:primitive — exempt from pure-function discipline\n// Pull authoritative delivery_count from XPENDING result (detailed form\n// returns [[id, consumer, idle_ms, delivery_count]]). On the rare race where\n// the message was XACK'd between Merge Message and now, XPENDING returns []\n// and we treat it as a fresh delivery (count=1) — defensive fallback.\nconst ctx = $('Build Pop Context').first().json;\nconst merge = $('Merge Message').first().json;\nconst pendingResp = $json;\nlet delivery_count = 1;\nconst raw = pendingResp ? pendingResp.result : null;\nif (Array.isArray(raw) && raw.length > 0 && Array.isArray(raw[0]) && raw[0].length >= 4) {\n  const dcRaw = raw[0][3];\n  const parsed = typeof dcRaw === 'number' ? dcRaw : parseInt(dcRaw, 10);\n  if (!Number.isNaN(parsed) && parsed > 0) delivery_count = parsed;\n}\nconst overLimit = ctx.dlqEnabled === true && delivery_count > ctx.maxRetries;\nreturn [{ json: { ...merge, delivery_count, ctx_inflight_key: ctx.inflightKey, ctx_dlq_stream: ctx.dlqStream, should_dlq: overLimit } }];\n"
      }
    },
    {
      "id": "{{@uuid:qpop-if-dlq}}",
      "name": "Should DLQ?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [2448, 0],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "{{@uuid:qpop-cond-dlq}}",
              "leftValue": "={{ $json.should_dlq === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "{{@uuid:qpop-xadd-dlq}}",
      "name": "XADD to DLQ",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2672, -160],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.UPSTASH_REDIS_REST_URL }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(['XADD', $('Build Pop Context').first().json.dlqStream, '*', 'payload', typeof $json.payload === 'string' ? $json.payload : JSON.stringify($json.payload || {}), 'original_id', String($json.message_id), 'delivery_count', String($json.delivery_count), 'dlq_routed_at', new Date().toISOString(), 'dlq_reason', 'max_retries_exceeded']) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{@env:credentials.redis_rest.id}}",
          "name": "{{@env:credentials.redis_rest.name}}"
        }
      }
    },
    {
      "id": "{{@uuid:qpop-xack-dlq}}",
      "name": "XACK Off Main (DLQ path)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2896, -160],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.UPSTASH_REDIS_REST_URL }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(['XACK', $('Build Pop Context').first().json.stream, $('Build Pop Context').first().json.group, $('Check DLQ Threshold').first().json.message_id]) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{@env:credentials.redis_rest.id}}",
          "name": "{{@env:credentials.redis_rest.name}}"
        }
      }
    },
    {
      "id": "{{@uuid:qpop-dlq-output}}",
      "name": "DLQ-Routed Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3120, -160],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// @n8n-evol-I:primitive — exempt from pure-function discipline\nconst ctx = $('Build Pop Context').first().json;\nconst msg = $('Check DLQ Threshold').first().json;\nreturn [{ json: {\n  empty: false, at_capacity: false, dlq_routed: true,\n  stream: ctx.stream, group: ctx.group, original_message_id: msg.message_id,\n  dlq_stream: ctx.dlqStream, delivery_count: msg.delivery_count,\n}}];\n"
      }
    },
    {
      "id": "{{@uuid:qpop-incr}}",
      "name": "INCR Inflight",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2672, 200],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.UPSTASH_REDIS_REST_URL }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(['INCR', $('Build Pop Context').first().json.inflightKey]) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{@env:credentials.redis_rest.id}}",
          "name": "{{@env:credentials.redis_rest.name}}"
        }
      }
    },
    {
      "id": "{{@uuid:qpop-cap-gate}}",
      "name": "Capacity Gate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2896, 200],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// @n8n-evol-I:primitive — exempt from pure-function discipline\nconst ctx = $('Build Pop Context').first().json;\nconst msg = $('Check DLQ Threshold').first().json;\nconst incrResp = $json;\nconst raw = incrResp ? incrResp.result : 0;\nconst count = typeof raw === 'number' ? raw : parseInt(raw, 10) || 0;\nconst overCap = count > ctx.maxConcurrency;\nreturn [{ json: { ...msg, inflight_count: count, over_capacity: overCap } }];\n"
      }
    },
    {
      "id": "{{@uuid:qpop-if-cap}}",
      "name": "Over Capacity?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [3120, 200],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "{{@uuid:qpop-cond-cap}}",
              "leftValue": "={{ $json.over_capacity === true }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "{{@uuid:qpop-decr-rollback}}",
      "name": "DECR Rollback",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3344, 360],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.UPSTASH_REDIS_REST_URL }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(['DECR', $('Build Pop Context').first().json.inflightKey]) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{@env:credentials.redis_rest.id}}",
          "name": "{{@env:credentials.redis_rest.name}}"
        }
      }
    },
    {
      "id": "{{@uuid:qpop-at-cap}}",
      "name": "At-Capacity Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3568, 360],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// @n8n-evol-I:primitive — exempt from pure-function discipline\nconst ctx = $('Build Pop Context').first().json;\nconst gate = $('Capacity Gate').first().json;\nreturn [{ json: {\n  empty: false, at_capacity: true, dlq_routed: false,\n  stream: ctx.stream, group: ctx.group, inflight_count: gate.inflight_count,\n  max_concurrency: ctx.maxConcurrency, message_id: gate.message_id,\n}}];\n"
      }
    },
    {
      "id": "{{@uuid:qpop-set-permit}}",
      "name": "SET Permit Sidecar",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [3344, 60],
      "parameters": {
        "method": "POST",
        "url": "={{ $env.UPSTASH_REDIS_REST_URL }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify(['SET', `q:${$('Build Pop Context').first().json.stream}:permits:${$('Capacity Gate').first().json.message_id}`, JSON.stringify({message_id: $('Capacity Gate').first().json.message_id, execution_id: $('Build Pop Context').first().json.callerExecutionId, sub_execution_id: $('Build Pop Context').first().json.executionId, workflow_id: $('Build Pop Context').first().json.workflowId, workflow_name: $('Build Pop Context').first().json.workflowName, stream: $('Build Pop Context').first().json.stream, group: $('Build Pop Context').first().json.group, claimed_at: new Date().toISOString()}), 'EX', '86400']) }}",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "{{@env:credentials.redis_rest.id}}",
          "name": "{{@env:credentials.redis_rest.name}}"
        }
      }
    },
    {
      "id": "{{@uuid:qpop-success}}",
      "name": "Build Success Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3568, 60],
      "parameters": {
        "language": "javaScript",
        "jsCode": "// @n8n-evol-I:primitive — exempt from pure-function discipline\nconst ctx = $('Build Pop Context').first().json;\nconst gate = $('Capacity Gate').first().json;\nreturn [{ json: {\n  empty: false, at_capacity: false, dlq_routed: false,\n  stream: ctx.stream, group: ctx.group,\n  message_id: gate.message_id,\n  payload: gate.payload,\n  enqueued_at: gate.enqueued_at,\n  delivery_count: gate.delivery_count,\n  claimed: gate.claimed,\n  permit_held: true,\n  inflight_count: gate.inflight_count,\n}}];\n"
      }
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [[{ "node": "Build Pop Context", "type": "main", "index": 0 }]]
    },
    "Build Pop Context": {
      "main": [[{ "node": "XGROUP CREATE (idempotent)", "type": "main", "index": 0 }]]
    },
    "XGROUP CREATE (idempotent)": {
      "main": [[{ "node": "XAUTOCLAIM Stale", "type": "main", "index": 0 }]]
    },
    "XAUTOCLAIM Stale": {
      "main": [[{ "node": "Parse Claim Result", "type": "main", "index": 0 }]]
    },
    "Parse Claim Result": {
      "main": [[{ "node": "Has Claimed?", "type": "main", "index": 0 }]]
    },
    "Has Claimed?": {
      "main": [
        [{ "node": "Merge Message", "type": "main", "index": 0 }],
        [{ "node": "XREADGROUP Fresh", "type": "main", "index": 0 }]
      ]
    },
    "XREADGROUP Fresh": {
      "main": [[{ "node": "Parse Read Result", "type": "main", "index": 0 }]]
    },
    "Parse Read Result": {
      "main": [[{ "node": "Merge Message", "type": "main", "index": 0 }]]
    },
    "Merge Message": {
      "main": [[{ "node": "Has Message?", "type": "main", "index": 0 }]]
    },
    "Has Message?": {
      "main": [
        [{ "node": "XPENDING Lookup", "type": "main", "index": 0 }],
        [{ "node": "Empty Output", "type": "main", "index": 0 }]
      ]
    },
    "XPENDING Lookup": {
      "main": [[{ "node": "Check DLQ Threshold", "type": "main", "index": 0 }]]
    },
    "Check DLQ Threshold": {
      "main": [[{ "node": "Should DLQ?", "type": "main", "index": 0 }]]
    },
    "Should DLQ?": {
      "main": [
        [{ "node": "XADD to DLQ", "type": "main", "index": 0 }],
        [{ "node": "INCR Inflight", "type": "main", "index": 0 }]
      ]
    },
    "XADD to DLQ": {
      "main": [[{ "node": "XACK Off Main (DLQ path)", "type": "main", "index": 0 }]]
    },
    "XACK Off Main (DLQ path)": {
      "main": [[{ "node": "DLQ-Routed Output", "type": "main", "index": 0 }]]
    },
    "INCR Inflight": {
      "main": [[{ "node": "Capacity Gate", "type": "main", "index": 0 }]]
    },
    "Capacity Gate": {
      "main": [[{ "node": "Over Capacity?", "type": "main", "index": 0 }]]
    },
    "Over Capacity?": {
      "main": [
        [{ "node": "DECR Rollback", "type": "main", "index": 0 }],
        [{ "node": "SET Permit Sidecar", "type": "main", "index": 0 }]
      ]
    },
    "DECR Rollback": {
      "main": [[{ "node": "At-Capacity Output", "type": "main", "index": 0 }]]
    },
    "SET Permit Sidecar": {
      "main": [[{ "node": "Build Success Output", "type": "main", "index": 0 }]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
